@import 'normalize';
@import 'utility';

$inputHeight: 40px;

//General

body {
 
    background: #ecf0f1;
    color: #2c3e50;
    
}

//Inputs

body input, 
body .input {
    
    border: none;
    border-bottom: solid 2px #2c3e50;
    color: #2c3e50;
    background: transparent;
    background: rgba(255,255,255,0.4);
    outline: none;
    padding: 10px 10px 2px;
    height: $inputHeight;
    display: inline-block;
    vertical-align: bottom;
    box-sizing: border-box;
}

//Buttons
body button,
body .button {
    
    border: none;
    color: #2c3e50;
    background: white;
    outline: none;
    height: $inputHeight;
    padding: 10px 15px;
    margin: 0 4px;
    display: inline-block;
    vertical-align: bottom;
    box-sizing: border-box;

}

//icons
span.ui {
 
    width: 12px;
    height: 12px;
    display: inline-block;
    background: cover;

    &.ui-edit { background-image: url(./img/ui-pencil.png); }
    &.ui-pencil { background-image: url(./img/ui-pencil.png); }
    &.ui-trash { background-image: url(./img/ui-trash.png); }
    &.ui-gear { background-image: url(./img/ui-gear.png); }
    &.ui-plus { background-image: url(./img/ui-plus.png); }
    &.ui-plus-square { background-image: url(./img/ui-plus-square.png); }
    &.ui-chevron-down { background-image: url(./img/ui-chevron-down.png); }
    &.ui-chevron-circle-down { background-image: url(./img/ui-chevron-circle-down.png); } 
    
}

//Header
#app-header {
    
    display: none;
    
}

//Footer
#app-footer {
    
    display: none;
    
}
//Body
#app-body {
    
    padding: 20px;
    
}

.search-bar {
 
    
    
}

//card 
//    card-body
//        card-menu-button
//        card-definitions
//            card-definition card-definition-front card-definition-back
//                card-input-container
//                    input
//                    span
//                button
//                       
//        card-ok-button
//        card-expand-button
//    card-extra

.card {
 
    background: #3498db;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 10px;
    margin: 10px 0 20px;
    
}

.card-menu-button, .card-ok-button, .card-expand-button { display: none; }

.card-definitions { @extend .clearfix;}

.card-definition {

    margin: 0;
    float: left;
    padding: 10px;
    
    span.card-input-language {
    
        display: block;
        font-size: 0.8em;
        font-style: italic;
        padding: 2px;
        float: left;
        
    }
    
    span.card-translate-from-def {
        
        display: block;
        font-size: 0.8em;
        font-style: italic;
        padding: 2px;
        float: right;
        color: #afceff;
        cursor: pointer;
        
    }
    
    .card-input-container {
    
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        
    }
    
    input, .input {
        
        display: inline-block;
        color: white;
        background: transparent;
        min-width: 300px;
        height: 32px;
        padding: 10px 2px 2px;
        transition: 400ms; 
        font-size: 1em;
        cursor: pointer;
        
    }
    
    .card-input-input {
        
        position: relative;
        display: inline-block;
        
        span.ui {
        
            position: absolute;
            bottom: 6px;
            right: 2px;
            
        }
        
    }
    
    button {
            
        height: 32px;
        padding: 10px 0 2px;
        max-width: 0;
        font-size: 1em;
        background: transparent;
        color: #888;
        margin: 0;
        overflow: hidden;
        box-sizing: border-box;
        transition: 400ms;
        cursor: pointer;

    } 
    
    &.editing {
        
        input {
        
            display: inline-block;
            min-width: 300px;
            height: 45px;
            width: auto;
            opacity: 1;
            background: #ecf0f1;
            color: #2c3e50;
            padding: 10px 15px;
            font-size: 1.25em;
            cursor: text;

        }
        
        .card-input-input { 
            
            span.ui {
                
                display: none;
                
            }
            
        }
        
        button {
             
            display: inline-block;
            padding: 10px 15px;
            background: white;
            color: #2c8a0e;
            height: 45px;
            max-width: 68px;
            border-bottom: 2px solid #2c8a0e;

        }
        
    }
    
}

.card-extra {
    
    @extend .clearfix;
    
    background: white;
    border-top: 4px solid #2c3e50;
    padding: 20px;
    border-radius: 0 0 4px 4px;
    
    .single-entry {
     
        padding-bottom: 10px;
        
    }
    
    .single-entry-phrase {
        
        font-weight: bold;
    
    }
    
    .single-entry-meanings {
        
        margin-top: 5px;
        border-left: 4px solid #6f9ebe;
        padding-left: 5px;
    
    }
    
    .single-meaning {
        
        padding: 0 0 8px;
        
    }

    .single-example {
        
        border-left: 4px solid #6f9ebe;
        padding-left: 5px;
        margin-bottom: 14px;
        
        div {
         
            padding-bottom: 8px;
            
        }
        
    }
    
    .examples-body, .entries-body {
     
        max-height: 200px;
        overflow-y: auto;
        
        box-shadow: 0 0 2px rgba(0,0,0,0.5) inset;
        padding: 10px;
        border-radius: 4px;
        
    }
    
    .examples, .entries {
     
        width: 500px;
        max-width: 100%;
        float: left;
        padding: 10px;
        
    }
    
}



